body{
  background-color: #04AA6D;

}
.vertical-menu {
    width: 200px;
  }
.vertical-menu a {
    background-color: rgb(230, 30, 57);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #0ce69d;
  }
  
  .vertical-menu a.active {
    background-color:#f36073 ;
    color:#eb4553;
  }



  
  
  
  
  

