.vertical-menu {
    width: 200px;
  }
.vertical-menu a {
    background-color: red;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #eff8f5;
  }
  
  .vertical-menu a.active {
    background-color:#f6f7f6 ;
    color:#e9f0ed;
  }



  
  
  
  
  

